.nocomments{
    background-color: rgb(68, 245, 24);
    /* width:60%; */
    margin-right:40%;

}
.commentsare{
  display:flex;
    background-color: rgb(176, 181, 231);
}
.commentsare img{
    height:3rem;
    width:3rem;
    border-radius: 50%;
}
.personname{
    padding:.3rem;
}